$success: #63e6be;
$warning: #f6d06f;
$correct: var(--correct);
$wrong: var(--wrong);

$border: var(--border);

:root {
	--bg-main: #c3c3c3;
	--bg-panel: #c3c3c3;

	--text-primary: #1e293b;
	--text-secondary: #475569;
	--text-muted: #94a3b8;

	--accent-purple: #3b2f2f;
	--accent-mint-30: #347a654d;
	--accent-mint-60: #347a6599;

	--border: #0f172a14;
	--correct: #74dca38a;
	--wrong: #fa4d4d60;
	--delete: #a60f0f9a;

	--status-new-bg: #e5d0b89f;
	--status-new-text: #745b43;

	--status-learning-bg: #b2e4b7bb;
	--status-learning-text: #4f684f;

	--status-learned-bg: #a8d2e79f;
	--status-learned-text: #536a76;
}

[data-theme='dark'] {
	--bg-main: #0b1020;
	--bg-panel: #131a2e;

	--text-primary: #f3f4f6;
	--text-secondary: #b6bfd6;
	--text-muted: #7f8aa3;

	--accent-purple: #d6d3fa;
	--accent-mint-30: #63e6bf4d;
	--accent-mint-60: #63e6bf99;

	--border: #ffffff14;
	--correct: #a1ffcb4d;
	--wrong: #fe8c8c60;
	--delete: #b62e2e;

	--status-new-bg: rgba(244, 196, 92, 0.18);
	--status-new-text: #f4c45c;

	--status-learning-bg: rgba(126, 190, 135, 0.18);
	--status-learning-text: #9ed7a5;

	--status-learned-bg: rgba(128, 184, 213, 0.18);
	--status-learned-text: #9bcde5;
}
