$success: #63e6be;
$warning: #f6d06f;
$correct: var(--correct);
$wrong: var(--wrong);

$border: var(--border);

:root {
	--bg-main: #c3c3c3;
	--bg-panel: #c3c3c3;

	--text-primary: #1e293b;
	--text-secondary: #475569;
	--text-muted: #94a3b8;

	--accent-purple: #3b2f2f;
	--accent-mint-30: #347a654d;
	--accent-mint-60: #347a6599;

	--border: #0f172a14;
	--correct: #74dca38a;
	--wrong: #fa4d4d60;
	--delete: #a60f0f9a;
}

[data-theme='dark'] {
	--bg-main: #0b1020;
	--bg-panel: #131a2e;

	--text-primary: #f3f4f6;
	--text-secondary: #b6bfd6;
	--text-muted: #7f8aa3;

	--accent-purple: #d6d3fa;
	--accent-mint-30: #63e6bf4d;
	--accent-mint-60: #63e6bf99;

	--border: #ffffff14;
	--correct: #a1ffcb4d;
	--wrong: #fe8c8c60;
	--delete: #b62e2e;
}
