@use '../base/variables' as *;

.addWord {
	gap: 15px;
	&__head {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}
	&__wrap-input {
		display: flex;
		gap: 20px;
	}
	&__block {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__input {
		padding: 15px;
		width: 100%;

		color: var(--text-primary);
		background-color: transparent;

		border-radius: 10px;
		border: 1px solid $border;
		&:focus {
			outline: none;
		}
	}
	&__message {
		display: none;
		justify-self: center;
		justify-content: center;

		width: fit-content;
		padding: 5px 10px;
		border-radius: 5px;

		color: var(--text-primary);
		background-color: rgba(green, 0.5);
	}
}
