@use '../base/variables' as *;

.dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	&__welcome {
		width: 100%;
		max-width: 720px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	&__information {
		width: 100%;
		max-width: 720px;
		padding: 24px;
		&-title {
			text-align: center;
			margin-bottom: 24px;
		}
		&-list {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 16px;
		}
		&-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 24px;
			padding: 16px 20px;
		}
	}
}
