@use '../base/variables' as *;

.study {
	height: 100%;
	&__first {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 30px;
	}
	&__choose {
		display: flex;
		flex-direction: column;
		gap: 10px;
		&-list {
			display: flex;
			justify-content: center;
			gap: 15px;
		}
	}
	&__mode {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		&-question {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			height: 275px;
			width: 200px;
		}
		&-answers {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;

			width: 100%;
			gap: 10px;
		}
	}
	&__warning {
		position: absolute;
		left: calc(50% - (384px / 2));

		width: fit-content;
		padding: 25px;

		color: rgb(157, 0, 0);
		border: 1px solid $border;
		border-radius: 25px;
	}
	&__finish {
		&-screen {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 30px;
		}
		&-actions {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}

.correct {
	background-color: $correct;
}

.wrong {
	background-color: $wrong;
}
