@use '../base/variables' as *;

.button {
	width: 200px;
	padding: 10px;

	color: $text-primary;
	border: 1px solid rgba($accent-pink, 0.5);
	border-radius: 25px;
	background-color: transparent;

	transition: all 0.25s ease;
	&:hover {
		color: black;
		background-color: rgba($accent-pink, 0.3);
	}
	&:disabled {
		filter: blur(1px);
		opacity: 0.6;
		cursor: not-allowed;
	}
}

.choose {
	padding: 5px 10px;

	color: $text-primary;
	background-color: transparent;
	border: 1px solid rgba($accent-pink, 0.5);

	&-active,
	&:hover {
		background-color: rgba($accent-pink, 0.3);
	}
}

.answer-btn {
	padding: 25px 50px;
	width: 175px;

	color: $text-primary;
	background-color: transparent;
	border: 1px solid rgba($accent-pink, 0.5);
	border-radius: 5px;

	transition: all 0.25s ease;
	&-active,
	&:hover {
		background-color: rgba($accent-pink, 0.3);
	}
}
